.footer {
  background-color: #232f3e;
  color: #fff;
  padding: 60px 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  text-align: center;
}

.footer__logo {
  width: 100px;
  object-fit: contain;
  margin-bottom: 20px;
}

.footer__row {
  display: flex;
  justify-content: center;
}

.footer__column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.footer__title {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 10px;
}
